* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.col1-3 {
  width: 33.3333%;
  padding-right: 1em;
}

.col1-3:last-of-type {
  padding-right: 0;
}

body {
  font: 1em/1.4 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  color: #333;
  background: #e6e6e6;
}

header {
  background: #DEE7EF;
  border-bottom: 2px dashed #999;
}

header h1 {
  font-size: 3em;
  text-align: center;
  padding-top: .75em;
  line-height: 1.5;
}

header h1 span {
  font-size: .5em;
  display: block;
  font-style: italic;
  color: #385F85;
  padding-bottom: 1em;
}

main {
  margin-top: 3em;
}

article {
  float: left;
  height: 250px;
  position: relative;
  padding-top: 2em;
  border: 5px solid #e6e6e6;
  background: #fff;
}

article img {
  display: block;
  margin: auto;
}

article h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}
