/* style.css */

html {
	/*background: #4096ee;*/
}

body {
	font: 14px/1.5 sans-serif;
	width: 960px;
	padding-bottom: 100px;
	margin: 0 auto;
	background: #efefef;
}

h1 {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	background: white;
}

.player {
	margin: 30px 0;
}

.player h2 {
	padding: 10px;
}

.player div {
	width: 631px;
	margin-left: 250px;
}

#cards-a, #cards-b {
	height: 150px;
}

.player img {
	height: 150px;
	display: block;
	float: left;
	margin-right: 20px;
}

.player p {
	padding: 25px 0 0 25px;
	clear: both;
}

.player p:last-of-type {
	padding: 0;
	padding: 0 0 10px 25px;
	height: 30px;
	font-weight: bold;
	color: red;
}

.bowser {
	background:	url("bowser.png") no-repeat 10px 70px;
}

.mario {
	background:	url("mario-sm.png") no-repeat 10px 70px;
}

.controls {
	width: 100px;
	margin: 40px auto;
}

.controls button {
	width: 100px;
	height: 50px;
	border: 0;
	font-size: 1.25em;
	background: #aaaaaa;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}

.war-card {
	border: 3px solid red;
	padding: 5px;
}
