/* style.css */

/* GLOBALS */
* {
	margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

/* FONTS */
@font-face {
	font-family: 'Luckiest-Guy';
	src: url('fonts/LuckiestGuy.ttf');
}

@font-face {
	font-family: 'Press Start 2P';
	src: url('fonts/PressStart2P-Regular.ttf');
}


/* PAGE */
body {
	font: 12px/1.5 'Press Start 2P', sans-serif;
	width: 1280px;
	margin: 0 auto;
}

main {
	height: 736px;
}

/* HOME PAGE */

.home-bg {
	background:	#421213;
}

.home {
	background:	url('mario-home-bg.jpg') no-repeat;
	position: relative;
	padding-left: 520px;
}

.home header {
	width: 530px;
	height: 145px;
	background: url('mario-war-home-logo.jpg') no-repeat;
	position: relative;
	top: 66px;
	left: 66px;
}

.home h1 {
	font: 95px/1 'Luckiest-Guy', sans-serif;
}

.home h1 span {
	display: block;
	font-size: 48px;
}

.home h2 {
	color: #ffffff;
	font-size: 12px;
	position: relative;
	left: 0;
	top: 100px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.home-buttons {
	position: relative;
	top: 435px;
	left: 130px;
}

.home-buttons a {
	font: 16px/1 'Press Start 2P', sans-serif;
	display: inline-block;
	height: 50px;
	width: 200px;
	background: #0099cc;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	padding: 17px 0 0 28px;
}

.home-buttons a:hover {
	background: #ffcc00;
}
