// bower:scss
// endbower

body {
  font: .8em/1.4 'Helvetica', 'Arial', sans-serif;
  width: 648 / 16 * 1rem;
  margin: 0 auto;
  color: #fff;
}

header {
  font-family: Times, 'Times New Roman', serif;
  background: #c93042;
  text-align: center;
  h1 {
    font-size: 2.75em;
    margin: 0;
    padding: 0.4em 0 0.2em 0;
    line-height: 1.1;
    span {
    display: block;
    font-size: 1.65em;
    }
  }
}

h2 {
  color: #333;
}

p {
  color: #333;
}
